.dx-button-default {
    font-weight: normal;
}

.dx-button-default .dx-button-content {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.dx-popup-title .dx-toolbar-label {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.dx-list-slide-menu-buttons-container {
    bottom: -1px;
}

.dx-list-slide-menu-button-menu {
    background: #007aff;
}

.books-list, .books-list-partial {
    height: 100%;
}

.fieldset-with-buttons .dx-field {
    padding: 0;
}

.fieldset-with-buttons .dx-field .dx-button {
    width: 100%;
    height: 100%;
    padding: 6px 10px 5px 0;
}

.fieldset-with-buttons .dx-field .dx-button-content {
    text-align: left;
}

.book-notes-fieldset {
    margin-top: 60px;
}

.book-notes-fieldset .dx-field-value {
    width: 100% !important;
    padding-left: 0;
}

.book-notes-fieldset .dx-textarea .dx-texteditor-input {
    padding-left: 8px;
}

.book-notes {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 0;
}

.book-notes h1 {
    margin: 10px 0;
}

.book-notes ul {
    padding-left: 20px;
}

.dx-radio-value-container {
    padding: 5px 10px 4px 0;
}

.dx-radiobutton-icon {
    width: 26px;
    height: 26px;
}

.dx-radiobutton-icon:before {
    width: 24px;
    height: 24px;
}

.dx-radiobutton-checked .dx-radiobutton-icon:after {
    margin: -19px 0 0 5px;
    width: 14px;
    height: 14px;
}

.dx-lookup-popup-wrapper .dx-popup-title {
    border-bottom: 1px solid #ababab;
    padding: 7px 0;
    height: 43px;
}

.book-rating-fieldset {
    margin-top: 60px;
}

.book-rating-fieldset .dx-field-value {
    width: 100% !important;
    padding: 0;
    text-align: center;
    color: #ff9500;
    padding-bottom: 3px;
}

.book-rating-control {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
    font-size: 26px;
    vertical-align: middle;
}

.book-rating-low {
    background-color: #eb0000;
    color: #eb0000;
}

.book-rating-high {
    background-color: #50a000;
    color: #50a000;
}

.book-rating-normal {
    background-color: #8c8c8c;
    color: #ff9500;
}

.book-rating-empty {
    background-color: #aaaaaa;
    color: #aaaaaa;
}

.book-rating {
    background: none;
}

.book-rating-badge {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-left: 14px;
    border-radius: 50%;
    color: #fff;
    vertical-align: middle;
}

.book-reading {
    /* background: #f9f9ff; */
}

/* Hairlines */
.hairlines .dx-fieldset {
    border-top: 0.5px solid #b7b6bb;
    border-bottom: 0.5px solid #b7b6bb;
}

.hairlines .dx-field {
    border-bottom: 0.5px solid #b7b6bb;
}

.hairlines .dx-field:last-child {
    border-bottom: none;
}

.hairlines .dx-navbar {
    border-top: 0.5px solid #b7b6bb;
}

.hairlines .dx-list-item-content::after {
    height: 0;
    background: none;
    border-top: 0.5px solid transparent;
    border-bottom: 0.5px solid #b7b6bb;
}

.hairlines .dx-list-item:last-child .dx-list-item-content::after {
    border-bottom: 0.5px solid transparent;
}

.hairlines .dx-list-slide-menu-buttons {
    border-bottom: 0.5px solid #b7b6bb;
}

.hairlines .dx-lookup-popup-wrapper .dx-list-item:first-child {
    border-top: 0.5px solid #b7b6bb;
}

.hairlines .dx-lookup-popup-wrapper .dx-list-item:last-child {
    border-bottom: 0.5px solid #b7b6bb;
}

.hairlines .tag-form {
    border-bottom: 0.5px solid #b7b6bb;
}

/* Status Lookup */
.dx-lookup-popup-wrapper .dx-popup-content {
    top: 43px !important;
}

.dx-lookup-popup-wrapper .dx-list { 
    background: #EFEFF4;
}

.dx-lookup-popup-wrapper .dx-list-item:first-child {
    border-top: 1px solid #c8c8c8;
    margin-top: 30px;
}

.dx-lookup-popup-wrapper .dx-list-item:last-child {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
}

.dx-lookup-popup-wrapper .dx-list-item {
    background: #fff;
}

/* Books List */
.books-list .book-title {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 2px;
    padding-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.books-list .book-author {
    font-size: 16px;
    line-height: 22px;
    
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.books-list .book-tags {
    white-space: nowrap;
}

.books-list .book-rating { 
    float: right;
}

.books-list .book-tags-icon,
.books-list .book-rating-icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin-right: 3px;
}

.books-list .book-tags-icon {
    float: left;
}

.books-list .book-rating-icon {
    display: inline-block;
}

.books-list .book-tags-text,
.books-list .book-rating-text {
    font-size: 13px;
    line-height: 16px;
}

.books-list .book-tags-text {
    margin-left: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.books-list .book-rating-text {
    display: inline-block;
    width: 28px
}


/* Book Details */
.book-details .book-info {
    padding: 30px 15px 30px 0;
}

.book-details .book-details-fieldset {
    position: relative;
    overflow: hidden;
    background-color: #fdf9f5;
}

.book-details .book-background {
    position: absolute;
    top: -12px;
    bottom: -12px;
    right: -12px;
    left: -12px;
    background-size: cover;
    background-position: center -140px;
    -webkit-filter: blur(12px) saturate(120%) brightness(140%);
    filter: blur(12px) saturate(120%) brightness(140%);
    opacity: .2;
}

.book-details .book-cover {
    float: right;
    position: relative;
    display: inline-block;
    width: 30%;
}

.book-details .book-cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.book-details .book-title {
    margin-bottom: 6px;
    padding-right: 4px;

    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.book-details .book-author {
    font-size: 16px;
    line-height: 22px;
}

.book-details .book-rating {
    margin-bottom: 2px;
}

.book-details .book-attributes {
    margin-top: 20px;
}

.book-details .book-tags-icon,
.book-details .book-rating-icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin-right: 3px;
}

.book-details .book-tags-icon {
    float: left;
}

.book-details .book-rating-icon {
    display: inline-block;
}

.book-details .book-tags-text,
.book-details .book-rating-text {
    font-size: 13px;
    line-height: 16px;
}

.book-details .book-rating-text {
    display: inline-block;
    width: 28px
}

.book-details .book-status {
    padding: 15px 15px 15px 0;
}

.book-details .book-status-text {
    line-height: 28px;
}

.book-details .book-progress-state {
    margin-top: 10px;
    font-size: 13px;
}

.book-details .book-status-button {
    float: right;
}


/* Tags List */
.tag-form {
    padding: 0 0 0 15px;
    border-bottom: 1px solid #e0e0e0;
}

.tag-form-field {
    margin: 0;
    margin-right: 44px;
}

.tag-form-edit .tag-form-field {
    margin-right: 88px;
}

.tag-form-field .dx-texteditor-container {
    border: none;
}

.tag-form-field .dx-texteditor-input,
.tag-form-field .dx-placeholder:before {
    padding: 13px 0;
}

.tag-form-button {
    float: right;
    line-height: 44px;
    width: 44px;
}

.tag-form-button .dx-icon-todo {
    font-size: 46px;
    position: relative;
}

.tag-form-button .dx-icon-todo:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -23px;
}

.tags-list-view-container {
    height: 100%;
}

.tags-list-container {
    height: 100%;
    margin-top: -44px;
    padding-top: 44px;
    background: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tags-list {
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.tags-choose-control .dx-texteditor-input {
    visibility: hidden;
}

.tag-list .tag-title {
    margin-right: 28px;
}

.tags-list .tag-selected-icon {
    display: none;
    float: right;
    color: #017aff;
    font-size: 28px;
    line-height: 28px;
    margin: -5px -8px -5px 0;
}

.tags-list-container .tags-list .dx-list-item-selected {
    background: none;
}

.tags-list-container .tags-list .dx-list-item.dx-state-active {
    background: #d9d9d9;
}

.tags-list .dx-list-item-selected .tag-selected-icon {
    display: block;
}

/* Theme Styling */

.layout-header .dx-toolbar,
.layout-header .dx-toolbar-after,
.dx-lookup-popup-wrapper .dx-toolbar,
.dx-lookup-popup-wrapper .dx-toolbar-after,
.tags-choose-popup .dx-toolbar,
.tags-choose-popup .dx-toolbar-after {
    background-color: #60433d;
    border-bottom-color: #38140d;
    border-radius: 0;
}

.tags-choose-popup .dx-popup-content {
    padding: 0;
}

.tags-choose-popup .dx-toolbar-label>div, 
.tags-choose-popup .dx-toolbar-label .dx-toolbar-item-content>div {
    overflow: visible;
}

.tags-choose-popup .dx-popup-title.dx-toolbar {
    height: 43px;
    padding: 7px 0;
}

.navbar-layout.dx-layout:before {
    position: absolute;
    content: '';
    height: 44px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #60433d;
}

.layout-header .dx-toolbar .dx-button .dx-icon,
.layout-header .dx-toolbar .dx-button .dx-button-text,
.dx-lookup-popup-wrapper .dx-toolbar .dx-button .dx-icon,
.dx-lookup-popup-wrapper .dx-toolbar .dx-button .dx-button-text,
.tags-choose-popup .dx-toolbar .dx-button .dx-icon,
.tags-choose-popup .dx-toolbar .dx-button .dx-button-text {
    color: #fff;
}

.layout-header .dx-toolbar .dx-button.dx-state-disabled .dx-icon,
.layout-header .dx-toolbar .dx-button.dx-state-disabled .dx-button-text,
.dx-lookup-popup-wrapper .dx-toolbar .dx-button.dx-state-disabled .dx-icon,
.dx-lookup-popup-wrapper .dx-toolbar .dx-button.dx-state-disabled .dx-button-text,
.tags-choose-popup .dx-toolbar .dx-button.dx-state-disabled .dx-icon,
.tags-choose-popup .dx-toolbar .dx-button.dx-state-disabled .dx-button-text  {
    opacity: .3;
}

.layout-header .dx-toolbar .dx-button.dx-state-active .dx-icon,
.layout-header .dx-toolbar .dx-button.dx-state-active .dx-button-text,
.dx-lookup-popup-wrapper .dx-toolbar .dx-button.dx-state-active .dx-icon,
.dx-lookup-popup-wrapper .dx-toolbar .dx-button.dx-state-active .dx-button-text,
.tags-choose-popup .dx-toolbar .dx-button.dx-state-active .dx-icon,
.tags-choose-popup .dx-toolbar .dx-button.dx-state-active .dx-button-text  {
    opacity: .2;
}

.layout-header .dx-toolbar-label,
.layout-header .dx-popup-title .dx-toolbar-label,
.dx-lookup-popup-wrapper .dx-toolbar-label,
.dx-lookup-popup-wrapper .dx-popup-title .dx-toolbar-label,
.tags-choose-popup .dx-toolbar-label,
.tags-choose-popup .dx-popup-title .dx-toolbar-label {
    color: #fff;
    font-weight: normal;
}

.dx-navbar {
    background-color: #faf9f7;
}

.dx-navbar .dx-nav-item .dx-icon {
    color: #60433d;
}

.dx-navbar .dx-nav-item .dx-tab-text {
    color: #38140d;
}