.dx-button-default {
    font-weight: normal;
}

.dx-button-default .dx-button-content {
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.books-list, .books-list-partial {
    height: 100%;
}

.fieldset-with-buttons .dx-field {
    padding: 6px 10px 5px 0;
}

.book-notes-fieldset {
    margin-top: 60px;
}

.book-notes-fieldset .dx-field-value {
    width: 100% !important;
    padding-left: 0;
}

.book-notes-fieldset .dx-textarea .dx-texteditor-input {
    padding-left: 8px;
}

.book-notes {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 0;
}

.book-notes h1 {
    margin: 10px 0;
}

.book-notes ul {
    padding-left: 20px;
}

.dx-radio-value-container {
    padding: 5px 10px 4px 0;
}

.dx-radiobutton-icon {
    width: 26px;
    height: 26px;
}

.dx-radiobutton-icon:before {
    width: 24px;
    height: 24px;
}

.dx-radiobutton-checked .dx-radiobutton-icon:after {
    margin: -19px 0 0 5px;
    width: 14px;
    height: 14px;
}

.dx-lookup-popup-wrapper .dx-popup-title {
    border-bottom: 1px solid #ababab;
    padding: 7px 0;
    height: 43px;
}

.dx-lookup-popup-wrapper .dx-popup-content {
    top: 44px;
}

.dx-lookup-popup-wrapper .dx-list { 
    background: #EFEFF4;
    padding-top: 35px;
}

.dx-lookup-popup-wrapper .dx-list-item:first-child {
    border-top: 1px solid #c8c8c8;
}

.dx-lookup-popup-wrapper .dx-list-item:last-child {
    border-bottom: 1px solid #c8c8c8;
}

.dx-lookup-popup-wrapper .dx-list-item {
    background: #fff;
}

.book-rating-fieldset {
    margin-top: 60px;
}

.book-rating-fieldset .dx-field-value {
    width: 100% !important;
    padding: 0;
    text-align: center;
    color: #ff9500;
}

.book-rating {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
    font-size: 26px;
    vertical-align: middle;
}

.book-rating-text {
    display: inline-block;
    min-width: 2em;
    margin-left: 14px;
    padding: 7px 0 6px;
    border-radius: 50%;
    background-color: #8c8c8c;
    color: #fff;
    vertical-align: middle;
}

.book-rating-low {
    background-color: #eb0000;
}

.book-rating-high {
    background-color: #50a000;
}

.book-rating-normal {
    background-color: #8c8c8c;
}

.book-reading {
    background: #f9f9ff;
}